.container {
    border-radius: 8px;
    border: 1px solid white;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.692);
    text-align: center;
    color: white;
    font-size: 18px;
}   

